html {
  scroll-behavior: smooth;
}

body {
  background: #f6f5f3;
}

.navbar {
  background: #cd428d;
}

.nav-link {
  color: #f6f5f3;
}

.navbar-title {
  color: #f6f5f3;
  font-size: 1.5rem;
}

.navbar-title:hover {
  color: #1f1f20;
}

.nav-link {
  margin-right: 1em !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #1f1f20;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
  color: #1f1f20;
}

.active:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #f6f5f3;
  text-decoration-thickness: 3px;
}

.hd {
  width: 60%;
}

.description {
  margin-top: 30%;
  text-align: center;
}

h1 {
  color: #cd428d;
  font-weight: bold;
  font-size: 2.2rem;
}

.description p {
  color: #1f1f20;
  font-size: 1.2rem;
}

p.prompt {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 1.0 !important;
}

a {
  color: #1f1f20;
  font-weight: bold;
}

a:hover {
  color: #cd428d;
  text-decoration: none;
}

.spacer {
  margin-top: 50%;
}

.space {
  margin-top: 5%;
}

.section {
  padding: 3em;
  position: relative;
}

.abtitle {
  color: #1f1f20;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.hs {
  width: 80%;
  margin-left: 5%;
}

.thumb {
  width: 90%;
  margin-bottom: 1em;
}

.proj:hover {
  opacity: 0.6;
}

.subtitle {
  color: #cd428d;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
}

.skill {
  background: rgba(205,66,141,0.5);
  padding-left: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.dot {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  display: inline-block;
}

.filled {
  background-color: #cd428d;
}

.unfilled {
  background-color: rgba(205,66,141,0.3);
}

.end {
  background: #1f1f20;
}

.endtxt {
  color: #f6f5f3;
  padding: 1.2em;
}

.fl {
  color: #f6f5f3;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-bottom: 0;
}

.pg {
  width: 90%;
}

.pgtitle {
  margin-top: 10%;
}

.stitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

ol li {
  font-weight: bold;
}

.plain {
  font-weight: normal !important;
}

.ss {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.sl {
  font-weight: normal !important;
  font-style: italic;
  font-size: 0.95rem;
}

.math {
  background-color: #cfcfcf;
  font-family: monospace;
  font-size: 1.2rem;
  color: #333333;
}

@media screen and (max-width: 768px) {
  .pgnav {
    position: static;
  }

  .hd {
    width: 100%;
  }

  .pg {
    width: 90%;
  }

  img {
    width: 100% !important;
  }
}
