h1 {
  font-weight: bold;
}

a {
  color: #2E5266;
  text-decoration: underline;
}

a:hover {
  color: #2E5266;
  font-weight: bold;
}

.st {
  font-weight: bold;
  text-transform: uppercase;
}

svg {
  margin: auto;
  display: block;
}

.ctitle {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.bar {
  stroke: white;
  stroke-width: 1px;
}

.bar:hover {
  opacity: 70%;
}

.tt {
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 2px;
  background: white;
  border-radius: 10px;
  opacity: 0;
  font-size: 0.7rem;
  font-weight: bold;
}

.cstitle {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.point1:hover {
  stroke: black;
  stroke-width: 2px;
}

.vert {
  stroke: #dddddd;
  stroke-width: 20px;
}

.vert:hover {
  stroke: #aaaaaa;
}

.blurb {
  position: absolute;
  padding: 5px;
  width: 200px;
  font-size: 0.7rem;
  background: #dddddd;
  border-radius: 10px;
  opacity: 0;
}

.donut {
  stroke: white;
  stroke-width: 2px;
}

.donut:hover {
  opacity: 70%;
}

.dot:hover {
  opacity: 70%;
}

.tweet {
  position: absolute;
  opacity: 0;
  left: -1000px;
  top: -1000px;
  max-width: 300px;
}

.u1 {
  background: #7C9D53;
  color: white;
  font-weight: bold;
  border: 2px solid #7C9D53;
}

.u2 {
  background: #D16014;
  color: white;
  font-weight: bold;
  border: 2px solid #D16014;
}

.u3 {
  background: #2E5266;
  color: white;
  font-weight: bold;
  border: 2px solid #2E5266;
}

.u4 {
  background: #6C0E23;
  color: white;
  font-weight: bold;
  border: 2px solid #6C0E23;
}

.u5 {
  background: #D4CB68;
  color: white;
  font-weight: bold;
  border: 2px solid #D4CB68;
}
